body{
    background-color: #dfccff;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#sidebar{
    position: fixed;
    height: 100%;
    width: 200px;
    background-color: #bc99db;
    left: -200px;
    transition: linear 0.3s;
   
}

#sidebar ul li {
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #707070b2;

}

#sidebar a{
    list-style: none;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}


#sidebar .toggle-btn{
    position: absolute;
    left: 220px;
    top: 20px;
    
    
}


#sidebar .toggle-btn span{
    display: block;
    width: 40px;
    height: 7px;
    background-color:#707070;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

#sidebar.active{
    left: 0px;
}

/*LOGIN*/

#cabecalho {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    padding-top: 20%;
    justify-content: space-around;
}

#cabecalho .titulos {
    color: #707070;
    font-size: 2.5em;
    text-transform: uppercase;
    margin-bottom: 1em;
}

#cabecalho #imagem-perfil {
    width: 12em;
    border-radius: 100%;
    margin-bottom: 2em;
}

#login {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#login .txt-box {
    width: 18em;
    height: 2.2em;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    border-radius: 50px;
    border: solid 1px #707070;
    padding-left: 10px;
}

#login .botao {
    width: 11em;
    height: 2em;
    border: solid 2px #7531b8;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    color: #707070;
    padding-top: 7px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 1em;
    letter-spacing: .5px;
}

#login .botao:active {
    transition: 0.2s;
    background-color: #7531b8;
    color: white;
}

#btn-cad{
    margin-bottom: 1em;
    text-decoration: none;
    transition: 0.2s;
}

#btn-cad:hover{
    text-decoration: underline;
}

#btn-rem{
   color: blue;
}

/*TELA DE CADASTRO*/

#cadastro{
    display: flex;
    align-items: center;
    flex-direction: column; 
    
   
}

#cabecalho h2{
    color: #707070;
    font-size: 2.5em;
    text-transform: uppercase;
    
}

#cabecalho h3{
    color: #707070;
    font-size: 1.5em;
    margin-top: -1em;
    margin-bottom: 1em;
}

form{
   
    background-color: rgba(247, 247, 247, 0.644);
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    width: 17em;
    
}

.txt-box2{
    width: 18em;
    height: 2.2em;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    border-radius: 50px;
    border: solid 1px #707070;
    padding-left: 10px;
    

}

.botao-cad{
    width: 11em;
    height: 2em;
    border: solid 2px #7531b8;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    color: #707070;
    padding-top: 7px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 2em;
    letter-spacing: .5px;
}

#cadastro .botao-cad:active {
    transition: 0.2s;
    background-color: #7531b8;
    color: white;
}

#btn-login{
    margin-bottom: 1em;
    text-decoration: none;
    transition: 0.2s;
}

#btn-login:hover{
    text-decoration: underline;
}


@media screen and (min-width: 48.75em){
}